
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../public/fonts/JetBrainsMono/variable/JetBrainsMono[wght].ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
}

html, body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
}

body {
    overflow: scroll;
}

#memory-container {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 400px;
    background-color: #ecf2e9;
    border-radius: 0.5rem;
    resize: both;
    padding: 0.5rem;
    overflow: auto;
    border: 1px solid #ccc;
}

#memory-search-container {
    overflow: hidden;
}

#peripheral-select {
    margin-bottom: 0.5rem;
}

#addresses {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 1rem;
}

#values {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: inherit;
    overflow: hidden;
}

.value {
    padding: 0 0.25rem 0 0.25rem;
    min-width: 1.2rem;
    max-width: 1.2rem;
    max-height: 2rem;
}

.address-row {
    display: flex;
    flex-direction: row;
}

.hr {
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
}